<p>Hello, Radhika World!!!!</p>
<h1> Philadelphia Eagles are the best team EVERRR!! Rad is the best girl EVERRR!! </h1>
<h2>India is best cricket team ever!</h2>
<p><a href="{{url_for('teams')}}">All Teams</a></p>
<table>
<th><td>KickOff</td><td>Game</td><td>Win/Loss</td><td>Score</td></th>
{% for game in games %}
<tr><td>	{{convert_dt_to_est(game.game_date)}}</td>
	<td>{{game.game_name}}</td>

		<td>{% if game.game_date < now %}{{game.home_team_score}} - {{game.away_team_score}}{% endif %}</td>
	
</tr>
{% endfor %}
</table>