<style type="text/css">
table, th, td {
  border: 1px solid;
}
</style>
<h1>Hello Radhika</h1>
<h1> Philadelphia Eagles are the best team EVERRR!! Rad is the best girl EVERRR!! </h1>
<h4>Dallas Cowboys are the</h4><h1>WORST TEAM EVER!</h1>
<h2>India is best cricket team ever!</h2>
<table>
	<tr><th>NFC East</th><th>NFC West</th><th>NFC South</th><th>NFC North</th></tr>
	<tr>
		<td>
		<table>
		{% for team in teams['NFC East'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['NFC West'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['NFC South'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['NFC North'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
	</tr>
</table>
<p></p>
<p></p>
<table>
	<tr><th>AFC East</th><th>AFC West</th><th>AFC South</th><th>AFC North</th></tr>
	<tr>
		<td>
		<table>
		{% for team in teams['AFC East'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['AFC West'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['AFC South'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
		<td>
		<table>
		{% for team in teams['AFC North'] %}
		<tr><td>
		<img src="{{team.logo_href}}" width="auto" height="20" > <a href="{{url_for('team_events', id=team.team_id)}}">{{team.team_location+' '+team.team_name}}</a>
		</td></tr>
		{% endfor %}
		</table>
		</td>
	</tr>
</table>

